Platformer2016.gmx/Configs/Default/windows/License.txt
Platformer2016.gmx/Configs/Default/windows/RunnerInstaller.nsi
Platformer2016.gmx/Configs/Default/windows/splash.png
Platformer2016.gmx/Configs/Default/windows/Runner_finish.bmp
Platformer2016.gmx/Configs/Default/windows/Runner_header.bmp
Platformer2016.gmx/Configs/Default/windows/runner_icon.ico
Platformer2016.gmx/Configs/Default.config.gmx